/* Versión final 10/02/2024*/

@font-face {
  font-family: Warung Kopi;
  src: url('../fonts/Warung Kopi.woff') format('woff');
}

body {
  font-family: Warung Kopi, sans-serif;
  text-align: center;
  color: #eef1ff;
}

table {
  border-collapse: collapse;
  margin: 4vh auto;
  width: 32vw;
  height: 32vw;
}

td {
  height: 6%;
  width: 6%;
  cursor: pointer;
}

td:first-child, td:last-child, tr:first-child>td, tr:last-child>td {
  background-color: #0c1727 !important;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
  background-color: #e7e8f7;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
  background-color: #040a32;
}

td.celda {
  background-image: none;
  height: 10%;
  width: 10%;
}

td.celda:hover {
  filter: brightness(50%);
}

td.celdaConReina {
  background-image: url(../img/reina.png);
  background-size: cover;
}

td.celdaInactiva {
  pointer-events: none;
  background-color: #00000000;
  opacity: 0.8;
  background: repeating-linear-gradient(45deg, #444cf7, #444cf7 4%, #00000000 4%, #00000000 12.5%);
}

@media only screen and (max-width: 768px) {
  table {
    width: 80vw;
    height: 80vw;
    margin: 4vh auto;
  }
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1486.075%2c477.858C1531.341%2c477.213%2c1567.024%2c444.18%2c1589.778%2c405.043C1612.677%2c365.656%2c1625.215%2c317.444%2c1602.199%2c278.125C1579.363%2c239.113%2c1531.273%2c227.118%2c1486.075%2c227.882C1442.447%2c228.619%2c1399.132%2c244.599%2c1376.555%2c281.938C1353.238%2c320.501%2c1355.135%2c368.737%2c1377.124%2c408.072C1399.679%2c448.421%2c1439.855%2c478.516%2c1486.075%2c477.858' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M685.2815791181024 343.54428798937977L743.3357796887275 294.83102970227634 641.2387919727598 232.10635798989034z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1299.981%2c448.969C1347.868%2c446.752%2c1383.66%2c409.732%2c1406.777%2c367.736C1428.917%2c327.515%2c1437.98%2c279.417%2c1415.282%2c239.508C1392.362%2c199.208%2c1346.337%2c180.716%2c1299.981%2c179.962C1252.078%2c179.182%2c1203.578%2c195.143%2c1177.991%2c235.647C1150.728%2c278.803%2c1149.228%2c334.172%2c1174.568%2c378.484C1200.082%2c423.101%2c1248.639%2c451.345%2c1299.981%2c448.969' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M95.405%2c498.945C116.233%2c498.687%2c132.661%2c483.859%2c143.6%2c466.133C155.268%2c447.226%2c164.3%2c424.18%2c153.536%2c404.745C142.539%2c384.89%2c118.072%2c377.955%2c95.405%2c379.116C74.801%2c380.171%2c56.965%2c392.292%2c46.747%2c410.215C36.633%2c427.955%2c35.28%2c449.447%2c45.099%2c467.352C55.304%2c485.961%2c74.184%2c499.208%2c95.405%2c498.945' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M675.7398475969314 523.4972863220997L642.8808422677957 380.54788844784355 547.5955027583274 466.3431935044617z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M313.04331251636296 276.6042503984883L282.5662983772988 382.8902297122043 419.32929183007894 307.0812645375525z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.boton {
  font-family: Warung Kopi, sans-serif;
  font-size: medium;
  padding: 10px 20px;
  background-color: #2e7299;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(46, 114, 153, 0.1);
}

.boton:hover {
  background-color: #4b96c9;
  box-shadow: 0 6px 8px rgba(46, 114, 153, 0.2);
}

.boton:active {
  background-color: #1c4c66;
}